.container-fluid.crosstalk-bscols {
margin-left: -30px;
margin-right: -30px;
white-space: normal;
}

body > .container-fluid.crosstalk-bscols {
margin-left: auto;
margin-right: auto;
}
.crosstalk-input-checkboxgroup .crosstalk-options-group .crosstalk-options-column {
display: inline-block;
padding-right: 12px;
vertical-align: top;
}
@media only screen and (max-width:480px) {
.crosstalk-input-checkboxgroup .crosstalk-options-group .crosstalk-options-column {
display: block;
padding-right: inherit;
}
}

slide:not(.current) .plotly.html-widget{
display: none;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
background-color: #c90239 !important;
color: #fff !important;
}

a {
color: #c90239 !important;
}

li.tocify-item a {
padding:2px !important;
}

.tocify ul, .tocify li {
line-height: 30px !important;
}

.tocify-subheader li {
font-size: 15px !important;
}


.tocify {
position: fixed !important;
margin-left: 0px !important;
max-width: 310px !important;
font-size: 16px !important;
padding-bottom: 5px !important;
}

div.left {
padding-right: 9px !important;
padding-left: 9px !important;
width: 330px !important;
margin-left: 0% !important;
margin-right: 0% !important;
}

div.right {
padding-right: 19px !important;
padding-left: 29px !important;
flex: 1;
display: flex;
justify-content: center;
align-items: start;
}

.graf-container {
max-width: 1500px;
width: 100%;
}

button {
font-size: 18px !important;
line-height: 24px !important;
}

@media (aspect-ratio: 16/9) {
html {
zoom: 2 !important;
}
}

.dataTables_filter {
float: left !important;
}

.btn {
white-space: normal;
}

.svg-container {
min-height: 700px !important;
}

.modal-dialog {
width: 75% !important;
max-width: 1300px;
margin: 30px auto;
}

.modal-body {
padding: 25px !important;
}

.modal-footer {
text-align: center !important;
}

sup {
font-size: 85% !important;
}

#logos {
text-align: center !important;
}

rect.updatemenu-item-rect {
stroke: #c90239 !important;
stroke-opacity: 0.9 !important;
fill: #c90239 !important;
fill-opacity: 0.1 !important;
}

g.updatemenu-button:hover > rect.updatemenu-item-rect,
g.updatemenu-button.active > rect.updatemenu-item-rect {
stroke: #c90239 !important;
stroke-opacity: 1 !important;
fill: #c90239 !important;
fill-opacity: 0.3 !important;
}

#tocify-header1 {
border-top: 2px solid #c90239;
}


#tocify-header0 > ul.tocify-subheader > li.tocify-item,
#tocify-header1 > ul.tocify-subheader > li.tocify-item {
border-top: 1px solid #ccc !important;
background-color: #f3f3f3 !important;
}

#tocify-header0 > li.tocify-item,
#tocify-header1 > li.tocify-item {
font-weight: 800 !important;
}

#TitleModal > div.modal-dialog > div.modal-content > div.modal-footer > button.btn{
background-color: #e8194e;
color:#FFF;
border-color: #FFF;
}
 
#TitleModal > div.modal-dialog > div.modal-content > div.modal-footer > button.btn:hover,
#TitleModal > div.modal-dialog > div.modal-content > div.modal-footer > button.btn:active,
#TitleModal > div.modal-dialog > div.modal-content > div.modal-footer > button.btn.active {
background-color: #8b0f2e;
color:#fff;
border-color: #adadad;
}

#TitleModal > div.modal-dialog > div.modal-content > div.modal-footer > button.btn:focus{
background-color: #8b0f2e;
color:#fff;
border-color: #adadad;
outline:0;
box-shadow:0 0 0 0rem rgba(201,2,57,.25)
}

hr {
border-top: 5px solid #c90239 !important;
}

#scrollToNextBtn {
display: block; /* Hidden by default */
position: fixed; /* Fixed position */
bottom: 20px; /* 20px from the bottom */
right: 40%;
z-index: 99; /* Make sure it does not overlap */
border: 1px solid rgba(0, 0, 0, .1);
outline: none; /* Remove outline */
background-color: #fff;
color: #c90239;
cursor: pointer; /* Add a mouse pointer on hover */
padding: 4px 8px;
padding-top: 0px;
border-radius: 25px;
font-size: 20px !important;
}


#scrollToNextBtn:hover {
background-color: #f0f0f0; /* Darker background on hover */
}

.graf-text {
font-family: Arial;
font-size: 1rem;
text-align:left;
margin-top: 15px;
background-color: #f0f0f0;
padding-top: 30px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 35px;
border-radius: 4px;
box-shadow: 0 5px 10px rgb(0 0 0 / 30%) !important;
border-left: 1px solid #c4c4c4;
border-right: 1px solid #c4c4c4;
border-bottom: 1px solid #c4c4c4;
}

.graf-text > ul > li {
padding-bottom: 10px;
overflow-wrap: break-word;
}

.tocify-extend-page {
height: 10px !important;
}